#circular {
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
}

#canvas-circular {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#span-circular {
    color: #555;
    display: block;
    line-height: 100px;
    text-align: center;
    width: 100px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-left: 5px;
}